html{
  font-size: 20px;
}
div{
  display: block;
}
a,h2,h3,h4{
  font-family: 'Roboto', sans-serif;
}
.header{

  height: 64px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
.header-side{
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  display:inline-flex;
}
.header-side img{
  height:50px;
}
.colmar{
  color: #000000;
  font-weight: 800;
}

.academy{
  color: 	#c0c0c0;
  font-weight: 400;
}
.header-side span{
  font-size: 32px;
}
.menu{
  display:inline-flex;
}
.menu a{
  float: right;
  padding: 8px;
}
.header-mobile{
  display:none;
}
/**header mobile**/
@media only screen and (max-width: 480px ){
.header-mobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 64px;
}
.header{
  display: none;
}
}
 /** Introuction section1**/
 .introduction{
   background-color: #fff8dc;
   padding: 32px 24px;
   display:flex;
 }
 .introduction-img{
   width: 60%;
   height:auto;
 }
.introduction-img img{
  max-width:100%;

}

.introduction-text{
  display:flex;
  flex-flow: column;
  justify-content: center;
  padding: 24px;
}
 .introduction h2{
   font-size: 2rem;
   line-height: 2rem;
 }

 .introduction h3{
   font-size: 1rem;
   line-height: 2rem;
 }

 .introduction button{
   background-color: #b8860b;
   color: #000000;
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   padding: 8px 0;
   border: 2px solid #003249;
 }


.introduction-mobile{
  display: none;
}

@media only screen and (max-width: 480px){
  .introduction{
    display: none;
  }
  .introduction-mobile{
    display: flex;
    flex-direction: column;
    background-color: #fff8dc;;
  }
  .introduction-mobile-img img{
    width: 100%;
    height: auto;
  }
  .introduction-mobile-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 16px;
  }
  .introduction-mobile-text h2{
    margin-top: 0.5rem;
    font-size: 2rem;
  }
  .introduction-mobile-text h3{
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
  }
  .start-mobile-button{
    width: 100%;
    background-color: #b8860b;
    color: #000000;
    width: 70%;
    border: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 8px 0;
    margin-top: .5rem;
    margin-bottom: 2rem;

  }
}
/**Featured**/
.featured{
  display: flex;
  flex-direction: row;
  background-color: #fffaf0;
}
.featured-main{
  display: flex;
  flex-direction: column;
  max-width:60%;
  margin: 32px 24px ;


}
.main-info h2, p{
  color: #373737;
}
.featured-main img{
  max-width:100%;

}

.featured-sidebar{

  margin: 32px 0;
  width: 40%;
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  border-left: 2px solid gray;

}
.sidebar{
  display: flex;
  border-bottom: 1px solid gray;

}
.sidebar:nth-child(3n+0){
  background-color: #b8860b;
}
.sidebar-img{
  padding: 16px;
  width:100%;
}

.sidebar-img img{
  width:100%;

}



.sidebar-text-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#read{
  color:blue;
}
.sidebar-text-section h3{
  margin-bottom: 8px;
  color: #373737;
  font-size: 1rem;
}

.sidebar-text-section span{
  margin-bottom: 8px;
  color: #373737;
}

.featured-mobile-sidebar{
  display:none;
}
@media only screen and (max-width: 480px){
  .featured-main{
  display:none;
  }
  .featured-sidebar{
    display: none;
  }
  .featured-mobile-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 0 16px;
  }

  #read-mob{
    color: blue;
    display: block;
    margin-top:8px;
    margin-bottom: 32px;
  }
  .mobile-sidebar-img{
    width:100%;
  }
  .mobile-sidebar-img img{
    width:100%;
  }
  .mobile-sidebar-text-section{
    text-align: left;
  }
  .mobile-sidebar-text-section h3{
    margin-bottom: 8px;
    color: #373737;
    font-size: 1.15rem;
  }
}
/**main section**/

.main-section{
   background-color: #C0B283;

}
.main-section h4{
  text-align:  center;
  padding: 32px;
  margin: 0px;
  font-weight: 800;
  font-size: 2rem;
}
.subsections{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-section{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 32px;
  margin-bottom: 20px;
  background-color: #F4F4F4;
}
.course-section-img img{
  width:100%;
  height:auto;
}
.course-section-text{
  padding:  16px 16px;
}

.course-section-text h3{
  font-size: 1.5rem;
  font-weight: bold;
}
.course-section-text h2{
  font-size: 1rem;
  font-weight: 800;
}
.course-section{
  display: block;
}
.mobile-main-section{
  display:none;
}

@media only screen and (max-width: 480px){
  .main-section{
    display:none;
  }
  .mobile-main-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #b8860b;

  }
  .mobile-course-section-text{
    margin-bottom: 8px;
    background-color: #F4F4f4;
    border-bottom: 0px solid gray;

  }
}
/**Thesis **/
.thesis{
  background-color:#ffffff;
}
.thesis h2{
  text-align: center;

  color: #373737;
  font-size: 2rem;
}

.thesis-section{
  display: flex;
  width: 100%;

}
.thesis-main-section{
  display: flex;
  flex-direction: column;
  max-width:60%;
  margin: 0px 24px 0px 24px;
  height:100%;

}
.thesis-video {
  height:100%;
  width:100%;
  padding-left: 24px;

}
.thesis-video video{
  width:100%;
  height: auto;
  /*border: 3px solid green;*/
}
.thesis-text{
  margin:24px 0 32px 24px;
}
.thesis-text h3{
  font-size:1.5rem;
}
.thesis-text p{
  margin-top:16px;
}
.thesis-text span{
  font-size:0.8rem;
}
.thesis-sidebar{
  margin-left:  16px ;
  min-width: 423px;


}
.thesis-sidebr-section{
  display:flex;
  align-items: center;
  min-height:170px;

}
.thesis-sidebr-section:first-child{
  display:flex;
  align-items: center;
  min-height:170px;
  background-color: #b8860b;
}
.thesis-sidebar-img{
  max-width: 35%;
  height:auto;
  margin: 16px;

}
.thesis-sidebar-img img{
  width: 100%;
  height: auto;

}
.thesis-sidebar-text{

  display: flex;
  flex-flow: wrap column;
  justify-content: center;

}

.thesis-sidebar-text h3{
  font-size:1.3rem;
  margin: 0;
}
.thesis-sidebar-text h4{
  font-size:0.8rem;
  font-weight: 400;

}
.mobile-thesis{
  display: none;
}
@media only screen and (max-width: 480px){
  .thesis{
    display: none;
  }
  .mobile-thesis{
    display: flex;
    flex-direction: column;
  }
  .mobile-thesis h2{
    text-align:center;
  }
  .mobile-thesis-video video{
    width:100%;
  }
}
/**footer section**/
footer{
  display: flex;
  flex-direction: row;
  border-top: 1px solid gray;
  justify-content: space-between;
  height: 3rem;
  align-items: center;

}
 footer a{
   padding-left: 24px;
   padding-top: 16px;
 }
 footer span{
   padding-right: 24px;
   padding-top: 8px;
 }
